[databases]
nodes_db_path = c:/Code_Projects/Remote-Area-Monitoring/source/databases/nodes.json
sensor_data_db_path = c:/Code_Projects/Remote-Area-Monitoring/source/databases/sensor_data.json
images_database_path = c:/Code_Projects/Remote-Area-Monitoring/source/databases/images.json

[mesh_network]
port = COM3
baud_rate = 115200
connection_timeout = 120
serial_timeout = 30
receive_timeout = 20
image_timeout = 120
image_retry = 2
image_retry_delay = 90
query_interval = 300
root_id = 2222635529
root_lat = 28.602403
root_lon = -81.200090
polling = True
sensor_polling = True
image_polling = False
sensor_polling_interval = 300
image_polling_interval = 1800

[website]
ip_address = 192.168.50.29
port = 8050

[units]
unit = imperial
min_temperature_c = -20
max_temperature_c = 60
min_temperature_f = 0
max_temperature_f = 120
min_mbar = 973
max_mbar = 1053
min_wind_speed_mph = 0
max_wind_speed_mph = 100
min_wind_speed_ms = 0
max_wind_speed_ms = 100
min_co2 = 400
max_co2 = 1400
min_tvoc = 0
max_tvoc = 100
volts_max = 4.3
volts_min = 2.4
current_max = 580
current_min = -580
wind_speed_cal_factor = 585000
wind_dir_cal_factor = 2.233
wind_dir_min_counts = 101

